footer{
    text-align: right;
}
h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.56);
    background-color: rgba(255,255,255,0.42);
}
.button-style{
     border: 1px solid black;
 }
.jumbotron{
    background-image: url("../img/pizza.png");
}
.badge-primary{
    background-color: #828282;
}
.card-header{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.gray{
    background-color: lightgray;
    border-bottom: none;

}
.card{
    margin-top: 1em;
}